body{
  background: rgb(240, 240, 240);
  color: rgb(45, 45, 45);
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

header{
  height: 5vh;
  padding-bottom: 15px;
  border-bottom: #DADADA solid;
  margin-bottom: 5px;
  text-align: center;
}

footer{
  position: absolute;
  bottom: 0;
  padding: 2vh 10vw;
}

#rootDOM{
  width: 80vw;
  height: 100vh;
  position: absolute;
  top:0;
  left:0;
  padding: 0 10vw;
}


.status-roomid{
  font-size: 8pt;
}
